@import "constants.scss";
@import "convenience.scss";

#masthead {
	background: url($header-background) no-repeat center center;
	height: 100%;

	.navbar-default {
		background-color: transparent;
		border: none;

		.navbar-brand {
			color: $white;
			font-family: $alegreya;
			font-weight: $ultra-thin;
			font-size: $x-large;
		}

		.navbar-nav {
			li a {
				color: $white;
				font-family: $titillium;
				opacity: 0.9;

				&:hover {
					opacity: 1;
				}
			}

			.active a {
				color: $white;
				font-weight: $thick;
				background-color: transparent;
				opacity: 1;
			}

			.btn-default {
				background-color: transparent;
				border-color: white;
				color: white;
			}
		}

		.navbar-toggle {
			background-color: transparent;
			border: none;
		
			.icon-bar {
				background-color: $white;
			}
		}

		.navbar-collapse {
			border: none;
			box-shadow: none;
		}
	}
}