@import "constants.scss";
@import "convenience.scss";

body {
	overflow: scroll !important;
}

#masthead {
	background: url($header-background) no-repeat center center;
	height: 100%;

	.navbar-default {
		background-color: transparent;
		border: none;

		.navbar-brand {
			color: $white;
			font-family: $alegreya;
			font-weight: $ultra-thin;
			font-size: $x-large;
		}

		.navbar-nav {
			li a {
				color: $white;
				font-family: $titillium;
				opacity: 0.9;

				&:hover {
					opacity: 1;
				}
			}

			.active a {
				color: $white;
				background-color: transparent;
				opacity: 1;
			}

			.navbar-btn {
				background-color: transparent;
				border-color: $white;
				font-family: $titillium;
				opacity: 0.9;
				color: $white;
				padding-top: 6px;
				padding-bottom: 6px;

				&:hover {
					opacity: 1;
				}
			}
		}

		.navbar-toggle {
			background-color: transparent;
			border: none;
		
			.icon-bar {
				background-color: $white;
			}
		}

		.navbar-collapse {
			border: none;
			box-shadow: none;
		}
	}
}

#global-nav {
	border-radius: 0;

		.navbar-brand {
			font-size: $xx-large;
			font-family: $alegreya;
			line-height: 100%;
		}

		.icon {
			font-size: $xx-large;
		}

		.navbar-toggle {
			margin-top: 12px;
		}
}

#main {
	float: right;
	width: 75%;
	padding-top: 75px;
}

#sidebar {
	height: 100%;
	background-color: $white;
	border-right: 1px #E7E7E7 solid;
	padding: 0;
	position: fixed;
	width: 25%;

	nav {
		border: none;
	}

	nav, .navbar {
		background-color: transparent;

		.icon {
			font-size: $xx-large;
		}
	}

	@media (min-width: 768px) {
	  .navbar .navbar-collapse {
	    padding: 0;
	  }

	  .navbar ul {
	    width: 100%;
	  }

	  .navbar li {
	    float: none;
	    border-bottom: 1px #E7E7E7 solid;

	    .icon-view, .label-view {
	    	display: inline-block;
	    	vertical-align: middle;
	    }

	    .icon-view {
	    	width: 20%;
	    	text-align: center;
	    }

	    .label-view {
	    	width: 80%;
	    }

	    &:hover {
	    	background-color: #E7E7E7;
	    }
	  }

	  .navbar li a {
	    color: #999;
	  }
	}
}

#top {
	height: 100px;
	margin: 20px;
}

#left, #right {
	margin: 20px;
}
