include layout
include navigation

div.col-lg-1.sidebar
	nav.navbar.navbar-default.navbar-fixed(role='navigation')
		div.container
		div.navbar-header

			<!-- Hamburger Menu -->
			button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#side-nav')
				span.sr-only
					Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar

			<!-- Navbar Items Far Left -->
		div.collapse.navbar-collapse#side-nav
			ul.nav.navbar-nav
				li.active
					a(href='#')
						i.icon.ion-coffee
						span &nbsp; Menu
				li.active
					a(href='#')
						i.icon.ion-card
						span &nbsp; Orders
				li.active
					a(href='#')
						i.icon.ion-calculator
						span &nbsp; Inventory
				li.active
					a(href='#')
						i.icon.ion-pie-graph
						span &nbsp; Sales
				li.active
					a(href='#')
						i.icon.ion-stats-bars
						span &nbsp; Stats
				li.active
					a(href='#')
						i.icon.ion-person-stalker
						span &nbsp; Staff
				li.active
					a(href='#')
						i.icon.ion-star
						span &nbsp; Promotions
				li.active
					a(href='#')
						i.icon.ion-calendar
						span &nbsp; Calendar
				li.active
					a(href='#')
						i.icon.ion-happy-outline
						span &nbsp; Feedback