include layout

div.main#masthead
	section
		include navigation
		div
			div.col-xs-4.col-xs-offset-2
				img(src='http://i.imgur.com/zJbHEUL.png')
			div.col-xs-5.hidden-xs.hidden-sm#headline
				h1 Headline.
				p.lead 
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					| Donec ac venenatis eros. Suspendisse suscipit massa quis
					| massa accumsan porttitor. Ut efficitur cursus gravida.
	section
		p Test
	section
		p Test
	section
		p Test

block content
	script(src='/js/onepage-scroll.js')