include layout

div.main#masthead
	section
		include navigation
		div.container-fluid
			div.col-xs-12#iphone
				img.center-block(src='http://i.imgur.com/zJbHEUL.png')
			div.col-xs-12#headline
				h1 Headline.
				p.lead 
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					| Donec ac venenatis eros. Suspendisse suscipit massa quis
					| massa accumsan porttitor. Ut efficitur cursus gravida.
	section
		p Test
	section
		p Test
	section
		p Test

block content
	script(src='/js/onepage-scroll.js')