doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='/css/bower.min.css')
    block js
      script(src='/js/bower.min.js')
  body

    <!-- Global Navigation Bar -->
    nav.navbar.navbar-default.navbar-fixed-top
      div.container-fluid
        div.navbar-header

          <!-- Hamburger Menu -->
          button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#global-nav')
            span.sr-only
              Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='') Project Brand Logo

          <!-- Navbar Items Far Left -->
        div.collapse.navbar-collapse(id='global-nav')
          ul.nav.navbar-nav
            li.active
              a(href='#') Link
            li
              a(href='#') Link
            li
              a(href='#') Link
            li
              a(href='#') Link
            li
              a(href='#') Link
            li
              a(href='#') Link

          <!-- Navbar Items Far Right -->
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#') Link
            li
              a(href='#') Link
            li
              a(href='#') Link

    block content
