include layout
include navigation
include sidebar

div.col-lg-10#main
	div.row
		div.col-xs-3
			div.panel.panel-default#top
				div.panel-body
		div.col-xs-3
			div.panel.panel-default#top
				div.panel-body
		div.col-xs-3
			div.panel.panel-default#top
				div.panel-body
		div.col-xs-3
			div.panel.panel-default#top
				div.panel-body

	div.row
		div.col-xs-8
			div.panel.panel-default#left
				div.panel-heading
					div.row
						div.col-xs-8
							h5 Products
								small  100 total
						div.col-xs-4
							div.input-group
								input.form-control(type='text' placeholder='Search...')
								span.input-group-btn
									button.btn.btn-default(type='button')
										i.icon.ion-search
				table.table.table-striped.table-hover
					thead
						tr
							th Title
							th Description
							th Price
					tbody
						tr
							td Sample
							td Sample
							td Sample
						tr
							td Sample
							td Sample
							td Sample
						tr
							td Sample
							td Sample
							td Sample
						tr
							td Sample
							td Sample
							td Sample
						tr
							td Sample
							td Sample
							td Sample
						tr
							td Sample
							td Sample
							td Sample
						tr
							td Sample
							td Sample
							td Sample
						tr
							td Sample
							td Sample
							td Sample
						tr
							td Sample
							td Sample
							td Sample
						tr
							td Sample
							td Sample
							td Sample
						tr
							td Sample
							td Sample
							td Sample
						tr
							td Sample
							td Sample
							td Sample
						tr
							td Sample
							td Sample
							td Sample
						tr
							td Sample
							td Sample
							td Sample
		div.col-xs-4
			div.panel.panel-default#right
				div.panel-heading
					h5 Overview
				div.panel-body