include layout
include navigation

div.col-lg-2#sidebar
	nav.navbar.navbar-default.navbar-fixed(role='navigation')
		div.navbar-header

			<!-- Hamburger Menu -->
			button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#side-nav')
				span.sr-only
					Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar

			<!-- Navbar Items Far Left -->
		div.collapse.navbar-collapse#side-nav
			ul.nav.navbar-nav
				li
					a(href='./dashboard')
						div.icon-view
							i.icon.ion-speedometer
						div.label-view
							span.nav-text &nbsp; Dash
				li
					a(href='./menu')
						div.icon-view
							i.icon.ion-coffee
						div.label-view
							span.nav-text &nbsp; Menu
				li
					a(href='./orders')
						div.icon-view
							i.icon.ion-card
						div.label-view
							span.nav-text &nbsp; Orders
				li
					a(href='./inventory')
						div.icon-view
							i.icon.ion-calculator
						div.label-view
							span.nav-text &nbsp; Inventory
				li
					a(href='./sales')
						div.icon-view
							i.icon.ion-pie-graph
						div.label-view
							span.nav-text &nbsp; Sales
				li
					a(href='./stats')
						div.icon-view
							i.icon.ion-stats-bars
						div.label-view
							span.nav-text &nbsp; Stats
				li
					a(href='./staff')
						div.icon-view
							i.icon.ion-person-stalker
						div.label-view
							span.nav-text &nbsp; Staff
				li.active
					a(href='./promotions')
						div.icon-view
							i.icon.ion-star
						div.label-view
							span.nav-text &nbsp; Promotions
				li
					a(href='./calendar')
						div.icon-view
							i.icon.ion-calendar
						div.label-view
							span.nav-text &nbsp; Calendar
				li
					a(href='./feedback')
						div.icon-view
							i.icon.ion-happy-outline
						div.label-view
							span.nav-text &nbsp; Feedback
div.col-lg-10#main
	p Promotions coming soon...